<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" [ngClass]="{'was-validated': loginForm.invalid && (loginForm.dirty || loginForm.touched || formSubmitted)}">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username" autocomplete="username" required >
                    <div class="invalid-feedback" *ngIf="loginForm.controls.username.errors && loginForm.controls.username.errors.required && (loginForm.controls.username.touched || loginForm.controls.username.dirty || formSubmitted)">
                      Username is Required
                    </div>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" autocomplete="current-password" required >
                    <div class="invalid-feedback" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.required && (loginForm.controls.password.touched || loginForm.controls.password.dirty || formSubmitted)">
                        Password is Required
                      </div>                    
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="form-check">
                        <input type="checkbox" class="fomr-control" id="rememberme" formControlName="rememberme">
                        <label class="form-check-label" for="rememberme">
                          Remember Me?
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="submit" class="btn btn-primary px-4" (click)="onLogin()">Login</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
